@{
    ViewBag.Title = "Bio";
}

<div class="navbar-wrapper">
    <div class="navbar navbar-static-top navbar-inverse" id="navigation">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">  <img src="~/Content/images/logo2.png" width="150" id="logokhan"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">

                        <li class="">
                            <a href="~/Home/Index#top">Home</a>

                        </li>
                        <li class="">
                            <a href="~/Home/Index#features">Features</a>
                        </li>
                        <li class="">
                            <a href="~/Home/Index#pricing">Packages</a>
                        </li>
                        <li class="active">
                            <a href="#">Team</a>
                        </li>
                        <li class="">
                            <a href="~/Home/Index#testimonials">Testimonials</a>
                        </li>

                        <li class="">
                            <a href="~/Home/Index#contact">Contact</a>
                        </li>
                        <!--<li class="">
                                    <a data-toggle="modal" href="#myModal" class="">Sign Up</a>
                                </li>-->

                        <!--<li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                                    <div class="dropdown-menu" style="padding: 15px;">
                                        <form action="#" method="post" accept-charset="UTF-8" class="form-menu">
                                            <input id="user_username"  type="text" name="user[username]" size="33" placeholder="Username" />
                                            <input id="user_password"  type="password" name="user[password]" size="33" placeholder="Password" />
                                            <label class="checkbox muted hidden-tablet"><input type="checkbox"> Remember Me</label>
                                            <input class="btn span3"  type="submit" name="commit" value="Sign In" />
                                        </form>

                                    </div>
                                </li>-->


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--################ NAVIGATION END ################-->

<!--################ WRAP START ################-->

<div id="wrap">
    <!--################ HEADER START ################-->

            <header class="page-title">
                <div class="container">
                    <input type="text" class="input-large search-query pull-right margintop10" placeholder="Search">
                    <h2>Team</h2>

                </div>
            </header>

            <section class="blog">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <div class="post-image">
                                <img src="images/betsy.jpg" alt="">

                            </div>
                        </div>
                        <div class="span8">
                            <div class="blog-post-title">
                                <h3>Betsy Holloman</h3>
                            </div>
                            <!--<div class="single-blog-meta">
                                <p class="author">By <a href="single-blog.html#">Leo Babauta</a></p>

                                <p><a href="#"><i class="icon-comments"></i> 13</a></p>

                                <div class="socials">
                                    <a href="#" class="social-network sn2 stumbleupon"></a>
                                    <a href="#" class="social-network sn2 facebook"></a>
                                    <a href="#" class="social-network sn2 pinterest"></a>
                                    <a href="#" class="social-network sn2 twitter"></a>
                                </div>
                            </div>-->

                            <div class="post-content">

                                <p>    
                                    Betsy Holloman is the President of the Nemesis Group LLC. 
                                </p>
                                <!--<a href="single-blog.html" class="pull-right">Read More <i class="icon-chevron-right"></i></a>-->

                            </div>
                        </div>


                    </div>
                </div>
            </section>   




            <section class="blog rev">
                <div class="container">
                    <div class="row">

                        <div class="span8">
                            <div class="blog-post-title">
                                <h3>Phillip Holloman</h3>
                            </div>
                            <!--<div class="single-blog-meta">
                                <p class="author">By <a href="single-blog.html#">Leo Babauta</a></p>

                                <p class="icon-comment"> 13</p>

                                <div class="socials">
                                    <a href="#" class="social-network sn2 stumbleupon"></a>
                                    <a href="#" class="social-network sn2 facebook"></a>
                                    <a href="#" class="social-network sn2 pinterest"></a>
                                    <a href="#" class="social-network sn2 twitter"></a>
                                </div>
                            </div>-->

                            <div class="post-content">

                                <p>Phillip currently is employed as an EMT-Intermediate with a local county government agency. He is also the first civilian tactical medic for law enforcement Special Response Teams in his county.  Phillip has been active in emergency services education for over 15 years. He has been the assistant chief for a Search and Rescue Team, firefighter , lieutenant for rescue squad and an advocate for officer self rescue medical training . He began working with the US Army Special Forces Training Group almost 10 years ago. He is married and has a son.    
                                    
                                </p>
                                <!--<a href="single-blog.html" class="pull-left">Read More <i class="icon-chevron-right"></i></a>-->

                            </div>
                        </div>

                        <div class="span4">
                            <div class="post-image">
                                <img src="images/phillip.jpg" alt="">

                            </div>
                        </div>


                    </div>
                </div>
            </section> 


            <section class="blog">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <div class="post-image">
                                <img src="images/calvin.jpg" alt="">

                            </div>
                        </div>
                        <div class="span8">
                            <div class="blog-post-title">
                                <h3>Calvin Shaw</h3>
                            </div>
                            <!--<div class="single-blog-meta">
                                <p class="author">By <a href="single-blog.html#">Leo Babauta</a></p>

                                <p class="icon-comment"> 13</p>

                                <div class="socials">
                                    <a href="#" class="social-network sn2 stumbleupon"></a>
                                    <a href="#" class="social-network sn2 facebook"></a>
                                    <a href="#" class="social-network sn2 pinterest"></a>
                                    <a href="#" class="social-network sn2 twitter"></a>
                                </div>
                            </div>-->

                            <div class="post-content">

                                <p>    
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras id elit. Integer quis urna. Ut ante enim, dapibus malesuada, fringilla eu, condimentum quis, tellus. Aenean porttitor eros vel dolor. Donec convallis pede venenatis nibh. Duis quam. Nam eget lacus. Aliquam erat volutpat. Quisque dignissim congue leo.
                                </p>
                                <!--<a href="single-blog.html" class="pull-right">Read More <i class="icon-chevron-right"></i></a>-->

                            </div>
                        </div>


                    </div>
                </div>
            </section> 
            <section class="blog rev last">
                <div class="container">
                    <div class="row">

                        <div class="span8">
                            <div class="blog-post-title">
                                <h3>Richard Franklin</h3>
                            </div>
                            <!--<div class="single-blog-meta">
                                <p class="author">By <a href="single-blog.html#">Leo Babauta</a></p>

                                <p class="icon-comment"> 13</p>

                                <div class="socials">
                                    <a href="#" class="social-network sn2 stumbleupon"></a>
                                    <a href="#" class="social-network sn2 facebook"></a>
                                    <a href="#" class="social-network sn2 pinterest"></a>
                                    <a href="#" class="social-network sn2 twitter"></a>
                                </div>
                            </div>-->

                            <div class="post-content">

                                <p>    
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In posuere felis nec tortor. Pellentesque faucibus. Ut accumsan ultricies elit. Maecenas at justo id velit placerat molestie. Donec dictum lectus non odio. Cras a ante vitae enim iaculis aliquam. Mauris nunc quam, venenatis nec, euismod sit amet, egestas placerat, est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras id elit. Integer quis urna. Ut ante enim, dapibus malesuada, fringilla eu, condimentum quis, tellus. Aenean porttitor eros vel dolor. Donec convallis pede venenatis nibh. Duis quam. Nam eget lacus. Aliquam erat volutpat. Quisque dignissim congue leo.
                                </p>
                                <!--<a href="single-blog.html" class="pull-left">Read More <i class="icon-chevron-right"></i></a>-->

                            </div>
                        </div>

                        <div class="span4">
                            <div class="post-image">
                                <img src="images/richard.jpg" alt="">

                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <section class="blog">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <div class="post-image">
                                <img src="images/matt.jpg" alt="">

                            </div>
                        </div>
                        <div class="span8">
                            <div class="blog-post-title">
                                <h3>Matt McKinney</h3>
                            </div>
                            <!--<div class="single-blog-meta">
                                <p class="author">By <a href="single-blog.html#">Leo Babauta</a></p>

                                <p class="icon-comment"> 13</p>

                                <div class="socials">
                                    <a href="#" class="social-network sn2 stumbleupon"></a>
                                    <a href="#" class="social-network sn2 facebook"></a>
                                    <a href="#" class="social-network sn2 pinterest"></a>
                                    <a href="#" class="social-network sn2 twitter"></a>
                                </div>
                            </div>-->

                            <div class="post-content">

                                <p>
                                    Matt has over 5 combined years in emergency services, having been a Firefighter, Technical Rescuer, EMT-B, and a 911 Communicator with certification in Emergency Medical Dispatch and DCI Modules 1-3. He began working with the US Army Special Forces Training Group almost 5 years ago.       
                                </p>
                                <!--<a href="single-blog.html" class="pull-right">Read More <i class="icon-chevron-right"></i></a>-->

                            </div>
                        </div>


                    </div>
                </div>
            </section> 
            <section class="blog rev">
                <div class="container">
                    <div class="row">

                        <div class="span8">
                            <div class="blog-post-title">
                                <h3>Robbie Savage</h3>
                            </div>
                            <!--<div class="single-blog-meta">
                                <p class="author">By <a href="single-blog.html#">Leo Babauta</a></p>

                                <p class="icon-comment"> 13</p>

                                <div class="socials">
                                    <a href="#" class="social-network sn2 stumbleupon"></a>
                                    <a href="#" class="social-network sn2 facebook"></a>
                                    <a href="#" class="social-network sn2 pinterest"></a>
                                    <a href="#" class="social-network sn2 twitter"></a>
                                </div>
                            </div>-->

                            <div class="post-content">

                                <p>    
                                    
                                </p>
                                <!--<a href="single-blog.html" class="pull-left">Read More <i class="icon-chevron-right"></i></a>-->

                            </div>
                        </div>

                        <div class="span4">
                            <div class="post-image">
                                <img src="images/robbie.jpg" alt="">

                            </div>
                        </div>


                    </div>
                </div>
            </section>
        </div>

</div>
<!--################ PUSH WILL KEEP THE FOOTER AT BOTTOM IF YOU WANT TO CREATE OTHER PAGES ################-->

<div id="push"></div>


<!--################ FOOTER START ################-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <!--<h2>about us...</h2>-->
                <img src="~/Content/images/logo3.png">

                <!--<p><br /Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>-->
                <!--<p><br />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                        <p class="copyright">
                            © 2013 Purity Bootstrap Template
                        </p>-->
            </div>
            <div class="span2">
                <h2>links </h2>
                <ul class="unstyled footer-links">
                    <li><a href="#" class="flink">About Us</a></li>
                    <li><a href="#features" class="flink">The Team</a></li>
                    <li><a href="#" class="flink">Blog</a></li>
                    <li><a href="#contact" class="flink">Contact</a></li>
                    <li><a href="#" class="flink">Privacy Policy</a></li>
                    <li><a href="#" class="flink">Terms of Use</a></li>
                </ul>
            </div>

            <!-- <div class="span3">
                        <h2>subscribe </h2>

                        <a href="#" class="social-network sn2 behance"></a>
                        <a href="#" class="social-network sn2 facebook"></a>
                        <a href="#" class="social-network sn2 pinterest"></a>
                        <a href="#" class="social-network sn2 flickr"></a>
                        <a href="#" class="social-network sn2 dribbble"></a>
                        <a href="#" class="social-network sn2 lastfm"></a>
                        <a href="#" class="social-network sn2 forrst"></a>
                        <a href="#" class="social-network sn2 xing"></a>      


                    </div>

                    <div class="span3">
                        <h2 class="center"><i class="icon-twitter"></i></h2>
                        <ul id="twitter" class="unstyled">

                        </ul>
                    </div>-->


        </div>
    </div>

</footer>


<!--################ FOOTER END ################-->

