@{
    ViewBag.Title = "Index";
}
<!--################ NAVIGATION START ################-->

<div class="navbar-wrapper">
    <div class="navbar navbar-fixed-top" id="navigation">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">  <img src="~/Content/images/logo2.png" width="150" id="logokhan"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">

                        <li class="active">
                            <a href="#top">Home</a>

                        </li>
                        <li class="">
                            <a href="#features">Features</a>
                        </li>
                        <li class="">
                            <a href="#pricing">Packages</a>
                        </li>
                        <li class="">
                            <a href="~/Home/Team">Team</a>
                        </li>
                        <li class="">
                            <a href="#testimonials">Testimonials</a>
                        </li>

                        <li class="">
                            <a href="#contact">Contact</a>
                        </li>
                        <!--<li class="">
                                    <a data-toggle="modal" href="#myModal" class="">Sign Up</a>
                                </li>-->

                        <!--<li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
                                    <div class="dropdown-menu" style="padding: 15px;">
                                        <form action="#" method="post" accept-charset="UTF-8" class="form-menu">
                                            <input id="user_username"  type="text" name="user[username]" size="33" placeholder="Username" />
                                            <input id="user_password"  type="password" name="user[password]" size="33" placeholder="Password" />
                                            <label class="checkbox muted hidden-tablet"><input type="checkbox"> Remember Me</label>
                                            <input class="btn span3"  type="submit" name="commit" value="Sign In" />
                                        </form>

                                    </div>
                                </li>-->


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--################ NAVIGATION END ################-->

<!--################ WRAP START ################-->

<div id="wrap">

    <!--################ HEADER START ################-->

    <header id="top" data-stellar-background-ratio="0">
        <div class="container home">


            <div class="flexslider home">
                <ul class="slides">


                    <li class="margintop10p">
                        <h1>
                            <br />
                            Nemesis Group LLC
                        </h1>
                    </li>
                    <!--<li class="margintop10p"><h1><br /></h1></li>-->



                </ul>

            </div>

            <!--<div class="social-header hidden-phone">

                        <a href="#" class="social-network sn2 behance"></a>
                        <a href="#" class="social-network sn2 facebook"></a>
                        <a href="#" class="social-network sn2 pinterest"></a>
                        <a href="#" class="social-network sn2 flickr"></a>
                        <a href="#" class="social-network sn2 dribbble"></a>
                        <a href="#" class="social-network sn2 lastfm"></a>
                        <a href="#" class="social-network sn2 forrst"></a>
                        <a href="#" class="social-network sn2 xing"></a>   


                    </div>-->

        </div>




        <div id="home-arrow" class="hidden-phone">

            <a href="#features"><i class="icon-double-angle-down icon-3x" id="iconHome"></i></a>

        </div>
    </header>

    <!--################ HEADER END ################-->

    <!--################ MAIN CONTAINER START ################-->



    <!--################ FEATURES SECTION START ################-->
    <section id="features">

        <div id="features-banner" data-stellar-background-ratio="0">

            <h1>"Next To Creating A Life, The Finest Thing A Man Can Do Is Save One"</h1>
            <p class="sub-heading-support">Abraham Lincoln</p>
        </div>

        <div class="container">

            <div class="row margintop20">

                <div class="span4">
                    <h2>Basic Medical</h2>
                    <p>
                        Nemesis offers classes in CPR, First Aid, and 
							Blood Borne Pathogens.Our instructors are American 
							Heart Association certified and can offer initial 
							certification or recertification.
                    </p>
                </div>
                <!-- /span4 -->
                <div class="span4">
                    <h2>Tactical Medical</h2>
                    <p>
                        Nemesis offers Tactical Medicine and Rapid 
							Deployment training for field and tactical officers 
							by teaching life saving techniques. Officers can add 
							a basic skill set that may make the difference 
							between life and death.
                    </p>

                </div>
                <!-- /span4 -->
                <div class="span4">
                    <h2>Specialized</h2>
                    <p>
                        Nemesis also offers other specialized training 
							such as ropes, rappelling, as well as Haz-Mat.
                    </p>

                </div>
                <!-- /span4 -->
            </div>
            <hr class="line">
            <div class="row">
                <div class="span12">
                    <ul class="thumbnails">
                        <li class="span2">

                            <div class="thumbnail border-left features">
                                <div class="feature-icon">
                                    <a href="~/Home/Bio#betsyh">
                                        <img src="~/Content/images/betsy.jpg">
                                    </a>
                                </div>
                                <!--<i class="icon-medkit icon-10x"></i>-->
                                <h4>Betsy Holloman</h4>

                                <p>President</p>
                                <p>Cheif Financial Officer</p>
                                <p>Instructor</p>
                            </div>
                        </li>
                        <li class="span2">

                            <div class="thumbnail border-none">
                                <div class="feature-icon">
                                    <img src="~/Content/images/phillip.jpg">
                                </div>
                                <!--<i class="icon-medkit icon-10x"></i>-->
                                <h4>Phillip Holloman</h4>

                                <p>Cheif Executive Officer</p>
                                <p>Instructor</p>
                            </div>
                        </li>
                        <li class="span2">

                            <div class="thumbnail border-right">
                                <div class="feature-icon">
                                    <img src="~/Content/images/calvin.jpg">
                                </div>
                                <!--<i class="icon-medkit icon-10x"></i>-->
                                <h4>Calvin Shaw</h4>
                                <p>Cheif Operating Officer</p>
                                <p>Instructor</p>
                            </div>
                        </li>
                        <li class="span2">

                            <div class="thumbnail border-right">
                                <div class="feature-icon">
                                    <img src="~/Content/images/richard.jpg">
                                </div>
                                <!--<i class="icon-medkit icon-10x"></i>-->
                                <h4>Richard Franklin</h4>
                                <p>Instuctor </p>
                            </div>
                        </li>
                        <li class="span2">

                            <div class="thumbnail border-right">
                                <div class="feature-icon">
                                    <img src="~/Content/images/matt.jpg">
                                </div>
                                <!--<i class="icon-medkit icon-10x"></i>-->
                                <h4>Matt McKinney</h4>
                                <p>Director of Personel </p>
                            </div>
                        </li>
                        <li class="span2">

                            <div class="thumbnail border-left features">
                                <div class="feature-icon">
                                    <img src="~/Content/images/robbie.jpg">
                                </div>
                                <!--<i class="icon-medkit icon-10x"></i>-->
                                <h4>Robbie Savage</h4>

                                <p>Webmaster </p>
                                <p>Director of Marketing </p>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>


        </div>



    </section>




    <!--################ FEATURES SECTION END ################-->



    <!--################ SUPPORT SECTION START ################-->


    <section id="support" class="paddingbottom40">
        <div id="support-banner" data-stellar-background-ratio="0.5">

            <div id="carousel_fade_1" class="carousel slide carousel-fade">

                <div class="carousel-inner">
                    <div class="item active">
                        <h1><i class="icon-double-angle-up"></i>Real Life Scenarios</h1>
                        <p class="sub-heading-support"></p>


                    </div>
                    <div class="item">
                        <h1><i class="icon-double-angle-up"></i>Trained Experience</h1>
                        <p class="sub-heading-support"></p>

                    </div>
                    <div class="item">
                        <h1><i class="icon-double-angle-up"></i>Professional Personel</h1>
                        <p class="sub-heading-support"></p>

                    </div>

                </div>
                <button class="carousel-control left car-button" href="#carousel_fade_1" data-slide="prev"><i class="icon-chevron-left"></i></button>
                <button class="carousel-control right car-button" href="#carousel_fade_1" data-slide="next"><i class="icon-chevron-right"></i></button>

            </div>
        </div>
        <div class="container">

            <div class="row center">


                <!--<div class="span4 margintop20">
                            <div class="row left">
                                <div class="span1">
                                    <i class="icon-flag support-icon color5"></i>
                                </div>
                                <div class="span3">
                                    <h2>24/7/365</h2>
                                    <ul class="unstyled">
                                        <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                                        <li><i class="icon-ok"></i> From your  dashboard</li>
                                        <li><i class="icon-ok"></i> Ask us about anything</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="span4 margintop20">
                            <div class="row left">
                                <div class="span1"><i class="icon-comments support-icon color5"></i></div>
                                <div class="span3">
                                    <h2>Live Chat</h2>
                                    <ul class="unstyled">
                                        <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                                        <li><i class="icon-ok"></i> From your  dashboard</li>
                                        <li><i class="icon-ok"></i> Ask us about anything</li>
                                    </ul></div>
                            </div>
                        </div>
                        <div class="span4 margintop20">
                            <div class="row left">
                                <div class="span1"><i class="icon-group support-icon color5"></i></div>
                                <div class="span3">
                                    <h2>Community</h2>
                                    <ul class="unstyled">
                                        <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                                        <li><i class="icon-ok"></i> From your  dashboard</li>
                                        <li><i class="icon-ok"></i> Ask us about anything</li>
                                    </ul></div>
                            </div>
                        </div>
                        <div class="span4 margintop40">
                            <div class="row left">
                                <div class="span1"><i class="icon-facetime-video support-icon"></i></div>
                                <div class="span3">
                                    <h2>Tutorials</h2>
                                    <ul class="unstyled">
                                        <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                                        <li><i class="icon-ok"></i> From your  dashboard</li>
                                        <li><i class="icon-ok"></i> Ask us about anything</li>
                                    </ul></div>
                            </div>
                        </div>
                        <div class="span4 margintop40">
                            <div class="row left">
                                <div class="span1"><i class="icon-book support-icon"></i></div>
                                <div class="span3">
                                    <h2>Manual</h2>
                                    <ul class="unstyled">
                                        <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                                        <li><i class="icon-ok"></i> From your  dashboard</li>
                                        <li><i class="icon-ok"></i> Ask us about anything</li>
                                    </ul></div>
                            </div>
                        </div>
                        <div class="span4 margintop40">
                            <div class="row left">
                                <div class="span1"><i class="icon-file support-icon "></i></div>
                                <div class="span3">
                                    <h2>Docs</h2>
                                    <ul class="unstyled">
                                        <li><i class="icon-ok"></i> Unlimited support in minutes</li>
                                        <li><i class="icon-ok"></i> From your  dashboard</li>
                                        <li><i class="icon-ok"></i> Ask us about anything</li>
                                    </ul></div>
                            </div>
                        </div>-->


            </div>



        </div>

    </section>

    <!--################ PORTFOLIO SECTION START ################-->

    <!--<section class="portfolio home-portfolio">

                <div class="container" id="portfolio">

                    <div class="row">
                        <div class="span12 center">
                            <h1 class="big-heading">Portfolio</h1>
                            <h4 class="sub-heading">see come of our cool projects...</h4>



                        </div>


                    </div>
                    <div class="row">
                        <div class="span12">
                            <div id="filters_container">
                                <ul id="filters">
                                    <li><a href="#" data-filter="*" class="active">All</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="#" data-filter=".video">Video</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="#" data-filter=".art">Pictures</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="#" data-filter=".illustration">Illustration</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="#" data-filter=".print">Print</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="#" data-filter=".web">Web</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>        
                   <div class="row" id="portfolio-container">
                        <div class="span3 project art">

                            <img src="images/training-1.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Image</h5>

                                <a href="images/training-1.jpg" class="fancybox-media btn btn-normal" data-title-id="title-01"  rel="portfolio">View details</a>
                            </div>

                            <div id="title-01" class="info hidden">
                                <h2>Image Detials</h2>
                                <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                            </div>



                        </div>



                        <div class="span3 project web">

                            <img src="images/training-1.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="single-portfolio.html" class="fancybox-media btn btn-normal" >View details</a>
                            </div>



                        </div>

                        <div class="span3 project video">

                            <img src="images/project1.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                             <div class="cnt">
                                <h5>Video</h5>

                                <a href="http://vimeo.com/24030911" class="fancybox-media btn btn-normal" data-title-id="title-03"  rel="portfolio">View details</a>
                            </div>

                            <div id="title-03" class="info hidden">
                                <h2>Image Detials</h2>
                                <div class="fancybody">Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem <a href="#">lacinia quam</a> venenatis vestibulum. Maecenas sed diam eget risus varius.</div>
                            </div>





                        </div>

                        <div class="span3 project web print">

                            <img src="images/landscape-heart.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project art print">

                            <img src="images/landscape-heart.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project art web">

                            <img src="images/landscape-heart.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project print web">

                            <img src="images/project1.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="#" class="btn btn-normal">View details</a>
                            </div>





                        </div>
                        <div class="span3 project  web">

                            <img src="images/project1.jpg" alt="" class="project-img">
                            <span class="overlay"></span>
                            <div class="cnt">
                                <h5>Project</h5>

                                <a href="#" class="btn btn-normal">View details</a>
                            </div>





                        </div>






                    </div>
                </div>


            </section>

            <!--################ TESTIMONIALS SECTION START ################-->


    <section id="testimonials">
        <div id="testimonials-background" data-stellar-background-ratio="0.5">

            <h1>Testimonials  <i class="icon-thumbs-up"></i></h1>
            <h2 class="sub-heading-support">What others say about us</h2>

        </div>
        <div class="container">
            <div class="row center margintop40">

                <div class="span6">

                    <div class="item  testimonial active">

                        <img src="~/Content/images/p1.png">
                        <h4>Jim Giannotti</h4>
                        Master Police Officer
                                 Elon Police Department
                                <p>I used the Nemesis Group LLC. to assist with a Tactical Combat Casualty Care (TCCC) class held at Elon University last summer. The class was open to all Alamance County agencies that wanted to attend. Repersentatives from Alamance County Sheriffs Office, Gibsonville Police Department, Burlington Police Department, Haw River Police Department, The State Bureau of Investigations, Elon Police Department, and Elon University Police Department were all in attendance. The Nemesis Group did an outstanding job giving those officers life saving information and organizing small groups to practice the techniques taught during the classroom portion. The force on force scenarios at the end of the day brought all the training together and left the officers use what they learned under stressful circumstances. I received great reviews from all of the Agency Heads that were in attendance.</p>
                        <p>In addition, I have known the owners and instructors of Nemesis for a number of years. I can tell you that they are dedicated to the high quality of instruction they provide. Our agency plans to have them re-visit our department for continued training in the future.</p>
                    </div>

                </div>

                <div class="span6">

                    <div class="item  testimonial active">

                        <img src="~/Content/images/p1.png">
                        <h4>Richard Purcell</h4>
                        Former Assistant Director for the Basic Law Enforcement Training at Alamance Community College
                                <p>I have known Phillip Holloman for over ten years, both personally and professionally and can attest to his outstanding character. As the Assistant Director for the Basic Law Enforcement Training at Alamance Community College, I have seen the quality of the role players associated with the Nemesis Group. We have used Phillip and his associates for several scenarios and would use them and highly recommend them for anyone needing high quality, professional, and knowledgable role players.</p>

                    </div>

                </div>
                <div class="span4">

                    <!--<div class="item  testimonial active">

                                <img src="images/face-1.png">
                                <h4>Static</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>

                            </div>-->

                </div>


            </div>

        </div>
    </section>
    <!--################ TESTIMONIALS  SECTION END ################-->




    <!--<section id="call-to-action" class="margintop20 marginbot20">

                <div class="call-to-action-link">
                    <a href="#"><span>Buy it for your Next Project →</span></a>
                </div>

            </section>-->


    <!--################ NEWS SECTION START ################-->


    <section id="news" class="paddingbottom40">
        <div class="container">

            <div class="row center">
                <div class="span12">
                    <h1 class="big-heading">Latest News</h1>
                    <p>Stay tuned for all upcoming events and company blogs.</p>
                </div>
            </div>
            <div class="row margintop40">
                <div class="span6 left shadowbox homepage-post">

                    <div class="post-img picture">
                        <img src="~/Content/images/events.jpg" alt="" />
                        <div class="overlay">
                            <div class="op"></div>
                            <ul class="icons">
                                <li><span class="bg"></span><a href="#" class="icon-link"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="post">

                        <div class="headline">
                            <h2 class="muted">Upcoming Events</h2>
                        </div>
                        <div class="post-meta">
                            <!--<h2 class="big-h2-heading"><i class="icon-calendar"></i>
                                <br />
                                June</h2>-->

                        </div>
                        <div class="post-content margintop">
                            <div class="post-description">
                                <p>Nemesis Group will be training with the Elon Police Department in June.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="span6 left shadowbox homepage-post">

                    <div class="post-img picture">
                        <img src="~/Content/images/blog1.jpg" alt="" />

                        <div class="overlay">
                            <div class="op"></div>
                            <ul class="icons">
                                <li><span class="bg"></span><a href="#" class="icon-link"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="post">

                        <div class="headline">
                            <h2 class="muted">Company Blog</h2>
                        </div>
                        <div class="post-meta">
                            <!--<h2 class="big-h2-heading"><i class="icon-calendar"></i>
                                <br />
                                June</h2>-->

                        </div>
                        <div class="post-content margintop">
                            <div class="post-description">
                                <p>The Elon Police Daparment training was a huge sucess. Everyone came out with eagerness to learn. Nemesis Group trained on hostage simulations, first aid, and room clearing. </p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <hr class="line">
            <div class="row">
                <div class="span12 center">
                    <h1 class="big-heading">Packages</h1>
                    <h4 class="sub-heading">Nemesis Group offers packages of every size to fit your department needs.</h4>



                </div>


            </div>
            <div class="row" id="pricing">
                <div class="span4">
                    <div class="price-plan price-plan-business">
                        <h2>Tier 1</h2>

                        <!--<div class="price">
                                    <div class="inside">
                                        <span class="super">$</span><span class="amt">0</span> <span class="sub">/MO</span>
                                    </div>

                                </div>-->

                        <div class="info">
                            <ul>
                                <li class="bold">For Small Class Size</li>
                                <li class="bold">One Medical Instructor</li>
                                <li class="bold">Three Role Players</li>
                                <li class="bold">Medical Equipment Provided</li>

                                <!--<li class="signup"><a href="#">SIGN UP</a></li>-->
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="span4">
                    <div class="price-plan ">
                        <h2>Tier 2</h2>

                        <!--<div class="price">
                                    <div class="inside">
                                        <span class="super">$</span><span class="amt">8</span> <span class="sub">/mo</span>
                                    </div>

                                </div>-->
                        <div class="most-popular">
                            <span>
                                <p>Popular</p>
                            </span>
                        </div>
                        <div class="info">
                            <ul>
                                <li class="bold">Regular Class Sizes</li>
                                <li class="bold">Three Medical Instructors</li>
                                <li class="bold">Three Role Players </li>
                                <li class="bold">Classroom Time</li>
                                <li class="bold">Skill Stations</li>

                                <!--<li class="signup"><a href="#">SIGN UP</a></li>-->
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="span4">
                    <div class="price-plan price-plan-business">
                        <h2>Tier 3</h2>

                        <!--<div class="price">
                                    <div class="inside">
                                        <span class="super">$</span><span class="amt">24</span> <span class="sub">/mo</span>
                                    </div>
                                </div>-->

                        <div class="info">
                            <ul>
                                <li class="bold">Large Class Size</li>
                                <li class="bold">Four Instructors</li>
                                <li class="bold">Six Role Players</li>
                                <!--<li>Custom Domain <span class="free">Free</span></li>-->
                                <li class="bold">Three Tactical Medics</li>
                                <li class="bold">Classroom Time</li>
                                <li class="bold">Skill Stations</li>
                                <li class="bold">Training Scenarios with Moulage Patients to Simulate Injuries</li>
                                <!--<li class="signup"><a href="#">SIGN UP</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--<div class="span3">
                            <div class="price-plan price-plan-unlimited">
                                <h2>POPULAR</h2>

                                <div class="price">
                                    <div class="inside">
                                        <span class="super">$</span><span class="amt">16</span> <span class="sub">/mo</span>
                                    </div>

                                    <div class="most-popular">
                                        <span>
                                            <p>New</p>
                                        </span>
                                    </div>
                                </div>

                                <div class="info">
                                    <ul>
                                        <li class="bold">Unlimited Pages & Posts</li>
                                        <li class="bold">Unlimited Bandwidth</li>
                                        <li class="bold">Unlimited Storage</li>
                                        <li class="bold">Unlimited Users</li>
                                        <li>Responsive Website</li>
                                        <li>Custom Domain <span class="free">Free</span></li>
                                        <li>24x7 Support</li>
                                        <li class="signup"><a href="#">SIGN UP</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->



            </div>
        </div>

    </section>




    <!--################ NEWS SECTION END ################-->


    <!--################ CONTACT SECTION START ################-->


    <section id="contact" class="margintop40">
        <div id="contact-background" data-stellar-background-ratio="0">

            <h1>Contact Us</h1>
            <p class="sub-heading-contact">We want your feedback </p>
        </div>
        <div class="container">
            <div class="row margintop20">


                <div class="span6">
                    <h2 class="big-h2-heading"><i class="icon-envelope-alt"></i>Contact Us</h2>
                    <p>Let us know what you think and we will get back to you!</p>
                    <form class="form-main" action="~/Home/Contact" method="post">

                        <fieldset>
                            <div class="clearfix">
                                <label for="name"><span>Name:</span></label>
                                <div class="input">
                                    <input id="name" name="name" type="text" value="" class="input-xlarge">
                                </div>


                            </div>

                            <div class="clearfix">
                                <label for="email"><span>Email:</span></label>
                                <div class="input">
                                    <input id="email" name="email" type="text" value="" class="input-xlarge">
                                </div>
                            </div>

                            <div class="clearfix">
                                <label for="message"><span>Message:</span></label>
                                <div class="input">
                                    <textarea tabindex="3" class="input-xlarge" id="message" name="message" rows="7"></textarea>
                                </div>
                            </div>

                            <div class="actions">
                                <button tabindex="3" type="submit" class="btn btn-landing ">Send</button>
                            </div>
                        </fieldset>

                    </form>
                </div>
                <!--<div class="span5 offset1">
                            <h2 class="big-h2-heading"><i  class="icon-map-marker"></i> Find Us</h2>
                            <p>Let us know what you think and we will get back to you with a cool reply!</p>
                            <p><i  class="icon-road"></i> Street Name - 1215/3, Our Land, Earth</p>
                            <p><i  class="icon-home"></i> London</p>
                            <p><i  class="icon-phone"></i> +1-234-56789</p>
                            <iframe id="small-map" width="350" height="320" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;aq=0&amp;oq=Los&amp;sll=50.143066,18.85267&amp;sspn=0.057207,0.168915&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Los+Angeles,+Hrabstwo+Los+Angeles,+Kalifornia,+Stany+Zjednoczone&amp;ll=34.052234,-118.243685&amp;spn=0.036979,0.084457&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>


                        </div>-->
            </div>
        </div>



    </section>


    <!--################ CONTACT SECTION END ################-->







    <!--################ BOTTOM SECTION START ################-->

    <!--<section id="bottom" class="paddingbot20">

                <div class="row center">

                    <h2>as seen on the</h2>
                </div>
                <div class="container">
                    <div class="row center">
                        <div class="as-seen">
                            <div class="span2">
                                <img src="images/client-1.png" alt="Tc">
                            </div>
                            <div class="span2">
                                <img src="images/client-2.png" alt="Tc">
                            </div>
                            <div class="span2">
                                <img src="images/client-3.png" alt="Tc">
                            </div>
                            <div class="span2">
                                <img src="images/client-4.png" alt="Tc">
                            </div>
                            <div class="span2">
                                <img src="images/client-5.png" alt="Tc">
                            </div>
                            <div class="span2">
                                <img src="images/client-6.png" alt="Tc">
                            </div>

                        </div>


                    </div>
                </div>

            </section>-->

    <!--################ BOTTOM SECTION END ################-->


</div>

<!--################ PUSH WILL KEEP THE FOOTER AT BOTTOM IF YOU WANT TO CREATE OTHER PAGES ################-->

<div id="push"></div>


<!--################ FOOTER START ################-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <!--<h2>about us...</h2>-->
                <img src="~/Content/images/logo3.png">

                <!--<p><br /Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>-->
                <!--<p><br />Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam.</p>
                        <p class="copyright">
                            © 2013 Purity Bootstrap Template
                        </p>-->
            </div>
            <div class="span2">
                <h2>links </h2>
                <ul class="unstyled footer-links">
                    <li><a href="#" class="flink">About Us</a></li>
                    <li><a href="#features" class="flink">The Team</a></li>
                    <li><a href="#" class="flink">Blog</a></li>
                    <li><a href="#contact" class="flink">Contact</a></li>
                    <li><a href="#" class="flink">Privacy Policy</a></li>
                    <li><a href="#" class="flink">Terms of Use</a></li>
                </ul>
            </div>

            <!-- <div class="span3">
                        <h2>subscribe </h2>

                        <a href="#" class="social-network sn2 behance"></a>
                        <a href="#" class="social-network sn2 facebook"></a>
                        <a href="#" class="social-network sn2 pinterest"></a>
                        <a href="#" class="social-network sn2 flickr"></a>
                        <a href="#" class="social-network sn2 dribbble"></a>
                        <a href="#" class="social-network sn2 lastfm"></a>
                        <a href="#" class="social-network sn2 forrst"></a>
                        <a href="#" class="social-network sn2 xing"></a>      


                    </div>

                    <div class="span3">
                        <h2 class="center"><i class="icon-twitter"></i></h2>
                        <ul id="twitter" class="unstyled">

                        </ul>
                    </div>-->


        </div>
    </div>

</footer>


<!--################ FOOTER END ################-->
